<div class="container">
  <h3> THE HELPZ </h3>
  <!-- Populate data -->
  <div class="well">
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <i class="fa fa-quote-left"></i>
          TITLE post.title
        </h4>

        <!-- Button + Price -->
        <ul class="list-inline pull-right">
          <li> <h4> hk$100 </h4></li>
          <li>
            <!-- link button to FB messaging -->
            <button disabled="disabled" class="btn btn-info btn-lg">
              Contact me
              <i class="fa fa-facebook-square"></i>
            </button>
          </li>
        </ul>

        <!-- Content + Links -->
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut magnam praesentium omnis aliquid maiores, atque veritatis, placeat dolorum assumenda expedita officia explicabo consequuntur possimus quod ullam saepe voluptates voluptate, quae.</p>
        <ul class="list-inline list-unstyled">
          <li><span><i class="glyphicon glyphicon-calendar"></i> Created on: "Date" </span></li>
          <li>|</li>
            <i class="fa fa-user"></i> by "createdBy" </span>
          <li>|</li>
          <li>
            <i class="fa fa-clock-o"></i> "duration" on average</span>
          </li>
          <li>|</li>

          <!-- if logged in show below can edit and delete entry -->
          <li>
            <a href= "#">
              <i class="fa fa-trash"></i> Delete Entry
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-pencil"></i> Edit Post
            </a>
          </li>
        </ul>
     </div>
    </div>
  </div>
</div>
