<div id='video-id'>
  <video autoplay loop style="width: 100%" >
    <source src="../images/blue_motion.mp4">
  </video>
</div>

<div class="container vertical-align">
  <div id="showOne"></div>
<div>

<script src="/js/services/show.js"></script>
