<div class="container">
  <h3> THE HELPZ </h3>
  <!-- Populate data -->
  <div class="well">
    <div class="media">
      <a class="pull-left" href="#">
       <img class="media-object" src="http://placekitten.com/150/150">
      </a>
      <div class="media-body">
        <h4 class="media-heading"><i class="fa fa-quote-left"></i>TITLE post.title</h4>
        <!-- <p class="text-right"> -->

        <!-- Button + Price -->
        <ul class="list-inline pull-right">
          <li> <h4> hk$100 </h4></li>
          <li>
            <!-- link button to FB messaging -->
            <button disabled="disabled" class="btn btn-info btn-lg">
              Request Order
            </button>
          </li>
        </ul>
        <!-- </p> -->

        <!-- Content + Links -->
        <p>DESCRIPTION post.description</p>
        <ul class="list-inline list-unstyled">
          <li><span><i class="glyphicon glyphicon-calendar"></i> Created on: "Date" </span></li>
          <li>|</li>
          <span><i class="glyphicon glyphicon-comment"></i> by Seller </span>
          <!-- insert link to message seller -->
          <li>|</li>
          <li>
            <!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
            <span><i class="fa fa-facebook-square"></i></span>
          </li>
          <li>|</li>
          <li>
            <span class="glyphicon glyphicon-time">post.duration on average</span>
          </li>
          <li>|</li>
          <!-- if logged in can edit and delete entry -->
          <li>
            <a href= "#">
              <i class="ion-close-circled"></i> Delete Entry
            </a>
          </li>

          <li>
            <a href="">
              <i class="fa fa-pencil"></i> Edit Post
            </a>
          </li>

        </ul>
     </div>
    </div>
  </div>
</div>
