<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-info coupon">
        <div class="panel-heading">
          <h3 class="panel-title">Welcome back</h3>
        </div>

        <div class="panel-body">
          <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
          <% } %>

          <h4>Please Log In, or <a href="/signup">Register</a></h4>

          <form name="form" id="form" class="form-horizontal" method="post" action="/signin">
            <fieldset>
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input id="email" type="email" class="form-control" name="email" value="" placeholder="email@domain.com">
              </div>
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input id="password" type="password" class="form-control" name="password" placeholder="Password">
              </div>
              <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
            </fieldset>
          </form>

          <hr/>
          <center><h4>OR</h4></center>
          <a href="/auth/facebook"class="btn btn-block btn-lg btn-social btn-facebook text-center">
            <span class="fa fa-facebook"></span>
            Login with Facebook
          </a>
        </div>

      </div>
    </div>
  </div>
</div>