<!-- jumbotron header -->
<% include layouts/header %>

<div class="container">
  <!-- About Helpz -->
  <div class="row about col-lg-12">
    <div class="col-lg-4 col-sm-4 text-center">
      <img class="img-circle img-responsive center-block" src="/images/Checklist2.png" alt="">
      <h3>Get things done</h3>
      <p>People who love what they do helps you get things done at an unbeatable value.</p>
    </div>
    <div class="col-lg-4 col-sm-4 text-center">
      <img class="img-circle img-responsive center-block" src="/images/Love-Letter.png" alt="">
      <h3>Like helping?</h3>
      <p>Love what you do? Start helping others and sell your talent.</p>
    </div>
    <div class="col-lg-4 col-sm-4 text-center">
      <img class="img-circle img-responsive center-block" src="/images/support-192.png" alt="">
      <h3>WDI-9 Project</h3>
      <p>This website was made for educational purposes as a 3rd project in General Assembly HK (class WDI-9</p>
    </div>
  </div> <!-- row about -->

  <!-- box for registration button -->
  <div class="row">
    <div class="well col-md-6 col-md-offset-3 box-register">
      <a href="/signup">
        <button type="button" class="btn btn-success btn-lg pull-right">Register</button>
      </a>
      <img class="pull-left img-register" src="/images/register.png" alt="">
      <h4> Need to get something done? </h4>
      <h5> Join Helpz now! </h5>
    </div>
  </div>

</div> <!-- container -->
