
      <div class="navbar navbar-fixed-bottom footer">
        <p>Created by Toni 2015.WDI9 at
          <a target="_blank" href="https://generalassemb.ly/education?format=immersives&where=hong-kong">
            <img class="small-ga"src="/images/ga.png">
          </a>

          <a target="_blank" href="https://hk.linkedin.com/pub/toni-anne-romero/b4/67/1b3">
            <span class="pull-right linkedin">
              <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" alt="View Toni Anne Romero's LinkedIn profile"> &nbsp;View Toni Anne Romero's profile
            </span>
          </a>
          <a target="_blank" href="https://github.com/tonianner">github</a>
        </p>
      </div>



  <script type="text/javascript" src="/components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/application.js"></script>
</body>
</html>
